.score-span {
    font-family: 'Titan One', sans-serif;
    letter-spacing: 1px;
}

#container.aughts {
    background-color: #3d144c;
    background: center url("../images/aughts-sparkle.jpg");
    /* background: center url(../images/david-clode-Sa8gzIBaKrw-unsplash.jpg); */
    background-size: cover;
}

#start-btn, #next-btn, #tally-btn, #try-btn, #dec-select, #final-score, #grade {
    font-family: 'Titan One', sans-serif;
    letter-spacing: 1px;
    text-shadow: none;
    font-weight: normal;

}

.btn {
    background-color: white;
}