.score-span {
    font-family: 'Yellowtail', sans-serif;
}

#container.nineties {
    background-color: #a372c3;
    background: url("../images/nineties-terrible.jpg");
    background-size: cover;
}

#start-btn, #next-btn, #tally-btn, #try-btn, #dec-select, #final-score, #grade, #scoreboard {
    font-family: 'Anton', sans-serif;
    text-shadow: none;
    font-weight: normal;

}

.btn {
    background-color: white;
}
