.score-span {
    font-family: 'Ranchers', sans-serif;
}

#container.seventies {
    background-color: #e8af68;
    background: center url("../images/seventies-color-angle.jpg");
    /* background: center url(../images/david-clode-Sa8gzIBaKrw-unsplash.jpg); */
    background-size: cover;
}

#start-btn, #next-btn, #tally-btn, #try-btn, #dec-select, #final-score, #grade {
    font-family: 'Ranchers', sans-serif;
    text-shadow: none;
    font-weight: normal;

}

.btn {
    background-color: white;
}
