.score-span {
    font-family: 'Spicy Rice', sans-serif;
}

#container.sixties {
    background-color: #b06193;
    background: center url("../images/sixties-faux-pucci.jpg");
    /* background: center url(../images/david-clode-Sa8gzIBaKrw-unsplash.jpg); */
    background-size: cover;
}

#start-btn, #next-btn, #tally-btn, #try-btn, #dec-select, #final-score, #grade {
    font-family: 'Spicy Rice', sans-serif;
    text-shadow: none;
    font-weight: normal;

}

.btn {
    background-color: white;
}
